.card-box {
  width: 18rem !important;
}

.card-img {
  display: block;
  margin: 0 auto 10px;
  height: 200px;
}

.price-box {
  position: relative;
  padding-top: 5px;
  margin-top: 15px;
}

.cart-button {
  position: absolute;
  background-color: #68a94a;
  border-color: #68a94a;
  bottom: 0;
  right: 0;
}

.cart-button:hover {
  background-color: green;
  border-color: green;
}

.cart-button:focus {
  background-color: green;
  border-color: green;
}

.amountInputPiece {
  border-color: #68a94a;
  width: 73%;
}

.amountInputWeigh {
  border-color: #68a94a;
  width: 85%;
}
