.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.innerLogin {
  width: 40%;
  min-width: 300px;
  margin: auto;
  background: #ffffff;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.buttonBox {
  position: relative;
}

.login-button {
  background-color: #68a94a;
  border-color: #68a94a;
}

.login-button:focus {
  background-color: green;
  border-color: green;
}

.login-button:hover {
  background-color: green;
  border-color: green;
}

.register-button {
  background-color: #68a94a;
  border-color: #68a94a;
  position: absolute;
  bottom: 0;
  right: 0;
}

.register-button:hover {
  background-color: green;
  border-color: green;
}
