.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.innerRegister {
  width: 100%;
  min-width: 600px;
  margin: auto;
  background: #ffffff;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.registerPage-button {
  background-color: #68a94a;
  border-color: #68a94a;
}

.registerPage-button:focus {
  background-color: green;
  border-color: green;
}

.registerPage-button:hover {
  background-color: green;
  border-color: green;
}
